<div class="f-info">
<div class="f-social"><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-linkedin"></i></div>
<div class="f-copy">&copy; MyDestination Private Limited</div>
<div class="f-info-tc">
    <a href="#">Terms </a>
    <p style="display: inline;"> | </p>
    <a href="#"> Condition</a>
    <p style="display: inline;"> | </p>
    <a href="#"> Privacy</a>
</div>
</div>