<% layout("/layouts/boilerplate.ejs") %>
<body>
  <H1>All Listings</H1>
  <div class="row">
    <% for(listing of alllistings) {%>
      <div class="card" style="width: 18rem">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing image" />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk
            of the card's content.
          </p>
        </div>
      </div>
      <% } %> 
  </div>
  

