<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
  </head>
  <body>
    <H1>All Listings</H1>
    <form method="get" action="/Listings/new">
      <Button>Create new Route</Button>
    </form>
    <% for(listing of alllistings) {%>
    <ul>
      <li><a href="/Listings/<%= listing.id %>"><%= listing.title %></a></li>
    </ul>
    <% } %>
  </body>
</html>
