<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <H1>All Listings</H1>
    <form method="get" action="/Listings/new">
      <Button>Create new Route</Button>
    </form>
    <% for(listing of alllistings) {%>
    <ul>
      <li><a href="/Listings/<%= listing.id %>"><%= listing.title %></a></li>
    </ul>
    <% } %>
  </body>

